<!-- this is the header -->

<header>
  <div class="container">
    <div class="row">
      <div class=" logo col-lg-6 col-md-6 col-sm-6 ">
        <h3 class="textShadow">
          {{'projectTitle' | translate}}
        </h3>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 rFloat">
        <nav class="vox-nav">
          <div class="row">
            <div class="col-lg-9 col-sm-9 col-md-9" *ngIf="initializedTimezone">
              <label style="margin-right: 10px;" translate>TimeZone_Title:</label>
              <ng2-timezone-picker class="customSelect" [timezone]="userTimezone" (change)="changeTimezone($event)"
                placeholder="Select timezone" showOffset="true" guess="true">
              </ng2-timezone-picker>
            </div>
            <div class="col-lg-3 col-sm-3 col-md-3 ">

              <div class="btn-group langbuttonGroup">
                <button (click)="switchLang('en')" class="btn btn-default langButton"
                  [class.btn-primary]="defaultLang == 'en'" title="English">
                  EN
                </button>
                <button (click)="switchLang('hi')" class="btn btn-default langButton"
                  [class.btn-primary]="defaultLang == 'hi'" title="Hindi">
                  HI
                </button>
              </div>
            </div>
          </div>
        </nav>


      </div>
    </div>
  </div>
</header>

<!-- header part ends here -->

<!-- this is the start of main content of the page -->

<div class="mainPageContent">
  <div class="container">
    <div class="row" style="margin-bottom: 50px;">
      <div class="col-lg-6">

        <div class="col-sm-12 col-lg-12 col-md-12 nopadding">
          <mat-card class="col-sm-12 col-lg-12 col-md-12">
            <mat-card-content>
              <form class="login-form" [formGroup]="meetingForm">
                <mat-form-field>
                  <input matInput placeholder="{{'firstNamePlaceholder' | translate}}" name="firstName"
                    formControlName="firstName" required>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="{{'middleNamePlaceholder' | translate}}" formControlName="middleName"
                    name="middleName">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="{{'lastNamePlaceholder' | translate}}" formControlName="lastName"
                    name="lastName" required>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>{{'meetingDatePlaceholder' | translate}}</mat-label>
                  <input matInput type="date" min="{{minDate | date:'yyyy-MM-dd'}}" formControlName="meetingDate"
                    name="meetingDate" required>
                </mat-form-field>

                <div class="row rowBottomMargin">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <mat-form-field>
                      <input matInput type="time" placeholder="{{'meetingStartTimeLabel' | translate}}"
                        formControlName="meetingStartTime" name="meetingStartTime" required>
                    </mat-form-field>
                    <mat-error class="customPosition" *ngIf="showError">
                      <small>{{'mettingTimeError' | translate}}</small></mat-error>
                  </div>

                  <div class="col-lg-6  col-md-6 col-sm-6">
                    <mat-form-field>
                      <input matInput type="time" placeholder="{{'meetingEndTimeLabel' | translate}}"
                        formControlName="meetingEndTime" name="meetingEndTime" required>
                    </mat-form-field>
                    <mat-error class="customPosition" *ngIf="showError">
                      <small>{{'mettingTimeError' | translate}}</small></mat-error>
                  </div>
                </div>

                <mat-card-actions>
                  <button mat-raised-button [disabled]="!(meetingForm.valid)" (click)="scheduleMeeting()"
                    color="primary">{{'submitButton' | translate}}</button>
                </mat-card-actions>
              </form>
            </mat-card-content>
          </mat-card>
        </div>


      </div>
      <div class="col-lg-6">
        <div class="col-sm-12 col-lg-12 col-md-12 nopadding">
          <mat-card class="col-sm-12 col-lg-12 col-md-12">
            <mat-card-content>
              <table class="table table-bordered">

                <thead *ngIf="tableData?.length!=0">
                  <tr>
                    <th>{{'firstName' | translate}}</th>
                    <th>{{'middleName' | translate}}</th>
                    <th>{{'lastName' | translate}}</th>
                    <th>{{'meetingDate' | translate}}</th>
                    <th>{{'startTime' | translate}}</th>
                    <th>{{'endTime' | translate}}</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let meetingdetails of tableData">
                    <td>{{meetingdetails?.firstName}}</td>
                    <td>{{meetingdetails?.middleName}}</td>
                    <td>{{meetingdetails?.lastName}}</td>
                    <td>{{meetingdetails?.meetingDate | dateLocalePipe:defaultLang}}</td>
                    <td>
                      {{meetingdetails?.meetingStartTime | timeZonePipe : meetingdetails?.meetingDate : userTimezone : defaultLang}}
                    </td>
                    <td>
                      {{meetingdetails?.meetingEndTime | timeZonePipe: meetingdetails?.meetingDate :userTimezone : defaultLang}}
                    </td>
                  </tr>
                  <tr *ngIf="tableData?.length==0">
                    <td colspan="6">{{'noRecordsMessage' | translate}}</td>
                  </tr>
                </tbody>
              </table>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
    </div>

  </div>
</div>

<!-- main page content ends here -->